body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(pexels-simon-berger-1323550.jpg);
    background-size: cover;
    background-position: center;
}   
.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color: #122bea;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
button{
    background-color: rgb(75, 200, 75);
    color: #fff;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.google-btn{
    background-color: #5ab9d8;
}
